/*| Colors |*/:root {
	--primaryDarker: #3568d4;
	--primaryMainColor: #3e7bfa;
	--primaryLighter: #6698fa;
	--primarySubtle: #ccddff;
	--black0: #1c1c28;
	--black1: #28293d;
	--black2: #555770;
	--black3: #8f90a6;
	--black4: #c7c9d9;
	--white0: #e4e4eb;
	--white1: #ebebf0;
	--white2: #f2f2f5;
	--white3: #fafafc;
	--white4: #ffffff;
	--red0: #e53535;
	--red1: #ff3b3b;
	--red2: #ff5c5c;
	--red3: #ff8080;
	--red4: #ffe5e5;
	--green0: #05a660;
	--green1: #06c270;
	--green2: #39d98a;
	--green3: #57eba1;
	--green4: #e3fff1;
	--blue0: #004fc4;
	--blue1: #0063f7;
	--blue2: #5b8def;
	--blue3: #9dbff9;
	--blue4: #e5f0ff;
	--yellow0: #e5b800;
	--yellow1: #ffcc00;
	--yellow2: #fddd48;
	--yellow3: #fded72;
	--yellow4: #fffee5;
	--orange0: #e57a00;
	--orange1: #ff8800;
	--orange2: #fdac42;
	--orange3: #fccc75;
	--orange4: #fff8e5;
	--teal0: #00b7c4;
	--teal1: #00cfde;
	--teal2: #73dfe7;
	--teal3: #a9eff2;
	--teal4: #e5ffff;
	--purple0: #4d0099;
	--purple1: #6600cc;
	--purple2: #ac5dd9;
	--purple3: #dda5e9;
	--purple4: #ffe5ff;}
/*| Elements |*/
body {
  background: #28293D;
  color: #C7C9D9;
}
h1 {
  color: #FAFAFC;
}
h2 {
  color: #FAFAFC;
}
h3 {
  color: #FAFAFC;
}
h4 {
  color: #FAFAFC;
}
h5 {
  color: #FAFAFC;
}
h6 {
  color: #FAFAFC;
}
button {
	box-shadow:0.00px 4.00px 8.00px rgba(0,0,0,0.320);
  border: none;
  padding: 15px 32px;
  border-radius: 8px;
  background-color: #3E7BFA;
  font-weight: 500;
  color: #FFFFFF;
}
button:hover {
	box-shadow:0.00px 16.00px 24.00px rgba(0,0,0,0.320);
}
button:active {
	box-shadow:0.00px 2.00px 4.00px rgba(0,0,0,0.320);
}
input[type="text"] {
  color: #E4E4EB;
  box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.32);
  border-radius: 8px;
  padding: 8px;
  font-weight: 500;
  border: none;
  background: #26273B;
}
/*| Classes |*/
.display1 {
  color: #FAFAFC;
}
.display2 {
  color: #FAFAFC;
}
.styleCapitalized {
  color: #FAFAFC;
}
.styleBlockquote {
  color: #FAFAFC;
}
.styleLead {
  color: #FAFAFC;
}
.styleSmall {
  color: #FAFAFC;
}
.styleTiny {
  color: #FAFAFC;
}
/*| Elevations |*/
.elevation-01 {
	box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.32);
  background-color: #26273B;
}
.elevation00 {
	box-shadow:0.00px 0.00px 0.00px rgba(0,0,0,0.000);
  background-color: #28293D;
}
.elevation01 {
	box-shadow:0.00px 1.00px 2.00px rgba(0,0,0,0.320);
  background-color: #2A2B40;
}
.elevation02 {
	box-shadow:0.00px 2.00px 4.00px rgba(0,0,0,0.320);
  background-color: #2C2D42;
}
.elevation03 {
	box-shadow:0.00px 4.00px 8.00px rgba(0,0,0,0.320);
  background-color: #2D2E45;
}
.elevation04 {
	box-shadow:0.00px 8.00px 16.00px rgba(0,0,0,0.320);
  background-color: #2F3047;
}
.elevation05 {
	box-shadow:0.00px 16.00px 24.00px rgba(0,0,0,0.320);
  background-color: #30324A;
}
.elevation06 {
	box-shadow:0.00px 20.00px 32.00px rgba(0,0,0,0.320);
  background-color: #32334D;
}