/*| Elements |*/
body {
  background: #28293D;
  color: #C7C9D9;
}
h1, h2, h3, h4, h5, h6 {
  color: #FAFAFC;
}
button {
	box-shadow:0.00px 4.00px 8.00px rgba(0,0,0,0.320);
}
button:hover {
	box-shadow:0.00px 16.00px 24.00px rgba(0,0,0,0.320);
}
button:active {
	box-shadow:0.00px 2.00px 4.00px rgba(0,0,0,0.320);
}
input[type="text"] {
  color: #E4E4EB;
  box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.32);
  background: #26273B;
}
/*| Classes |*/
.z-display1 {
  color: #FAFAFC;
}
.z-display2 {
  color: #FAFAFC;
}
.z-styleCapitalized {
  color: #FAFAFC;
}
.z-styleBlockquote {
  color: #FAFAFC;
}
.z-styleLead {
  color: #FAFAFC;
}
.z-styleSmall {
  color: #FAFAFC;
}
.z-styleTiny {
  color: #FAFAFC;
}
/*| Elevations |*/
.z-elevation-01 {
	box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.32);
  background-color: #26273B;
}
.z-elevation00 {
	box-shadow:0.00px 0.00px 0.00px rgba(0,0,0,0.000);
  background-color: #28293D;
}
.z-elevation01 {
	box-shadow:0.00px 1.00px 2.00px rgba(0,0,0,0.320);
  background-color: #2A2B40;
}
.z-elevation02 {
	box-shadow:0.00px 2.00px 4.00px rgba(0,0,0,0.320);
  background-color: #2C2D42;
}
.z-elevation03 {
	box-shadow:0.00px 4.00px 8.00px rgba(0,0,0,0.320);
  background-color: #2D2E45;
}
.z-elevation04 {
	box-shadow:0.00px 8.00px 16.00px rgba(0,0,0,0.320);
  background-color: #2F3047;
}
.z-elevation05 {
	box-shadow:0.00px 16.00px 24.00px rgba(0,0,0,0.320);
  background-color: #30324A;
}
.z-elevation06 {
	box-shadow:0.00px 20.00px 32.00px rgba(0,0,0,0.320);
  background-color: #32334D;
}
