/*| Elements |*/
body {
  background: #FFFFFF;
  color: #555770;
}
h1, h2, h3, h4, h5, h6 {
  color: #1C1C28;
}
button {
	box-shadow:0.00px 4.00px 8.00px rgba(96,97,112,0.160);
}
button:hover {
	box-shadow:0.00px 16.00px 24.00px rgba(96,97,112,0.160);
}
button:active {
	box-shadow:0.00px 2.00px 4.00px rgba(96,97,112,0.160);
}
input[type="text"] {
  color: #1C1C28;
  box-shadow: inset 0px 0.5px 4px rgba(96, 97, 112, 0.32);
  background: #FFFFFF;
}
/*| Classes |*/
.z-display1 {
  color: #1C1C28;
}
.z-display2 {
  color: #1C1C28;
}
.z-styleCapitalized {
  color: #1C1C28;
}
.z-styleBlockquote {
  color: #1C1C28;
}
.z-styleLead {
  color: #1C1C28;
}
.z-styleSmall {
  color: #1C1C28;
}
.z-styleTiny {
  color: #1C1C28;
}
/*| Elevations |*/
.z-elevation-01 {
	box-shadow: inset 0px 0.5px 4px rgba(96, 97, 112, 0.32);
  background-color: #FFFFFF;
}
.z-elevation00 {
	box-shadow:0.00px 0.00px 0.00px rgba(0,0,0,0.000);
  background-color: #FFFFFF;
}
.z-elevation01 {
	box-shadow:0.00px 0.50px 2.00px rgba(96,97,112,0.160);
  background-color: #FFFFFF;
}
.z-elevation02 {
	box-shadow:0.00px 2.00px 4.00px rgba(96,97,112,0.160);
  background-color: #FFFFFF;
}
.z-elevation03 {
	box-shadow:0.00px 4.00px 8.00px rgba(96,97,112,0.160);
  background-color: #FFFFFF;
}
.z-elevation04 {
	box-shadow:0.00px 8.00px 16.00px rgba(96,97,112,0.160);
  background-color: #FFFFFF;
}
.z-elevation05 {
	box-shadow:0.00px 16.00px 24.00px rgba(96,97,112,0.160);
  background-color: #FFFFFF;
}
.z-elevation06 {
	box-shadow:0.00px 20.00px 32.00px rgba(96,97,112,0.240);
  background-color: #FFFFFF;
}
